# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://iqpqmnrvzjbbwnjalunn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxcHFtbnJ2empiYnduamFsdW5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODkzNjk3OTEsImV4cCI6MjAwNDk0NTc5MX0.nO_Oh2oe6Lk9QjROLMyZPAo0mzpWanjbLb62YzNMlUE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxcHFtbnJ2empiYnduamFsdW5uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4OTM2OTc5MSwiZXhwIjoyMDA0OTQ1NzkxfQ.VoJ1AsKAAug8S5ekImKngGnfBRJlNGsERHLrH6xLmX0

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51NUo9ED1Hb754F0Ub40mHNVO2WY7qpnafzYwURzpwCOuzhNw3u3CNVHyd6mRrh3cvXt1w4gbw9OzK9DNlCyysiiy00LbNtJEys
STRIPE_SECRET_KEY=sk_test_51NUo9ED1Hb754F0UR06uAmXw6pF0OdmLkpMhmKDua3gZGihzInVQQJqxWlMldv0NSvWgVPF23TagN7IyvVcbd8rg00zBS4BouD
STRIPE_WEBHOOK_SECRET=whsec_bd49fd71cfdeaf288782d55f587be5a1e42248f9b324fc285d649c7a813d520f