# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://ipjjlddfslhqhkzsdxer.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwampsZGRmc2xocWhrenNkeGVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg1OTE1NDMsImV4cCI6MjA0NDE2NzU0M30._E7YdUambz4o0Io-3PNC3Yz0zHcu7y6qiQVDFkA_i8Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwampsZGRmc2xocWhrenNkeGVyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyODU5MTU0MywiZXhwIjoyMDQ0MTY3NTQzfQ.h2fEroeqCl-nx3PxYRi94nJ8rwRV0ScVaSjGeRSzBGo

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51NUo9ED1Hb754F0Ub40mHNVO2WY7qpnafzYwURzpwCOuzhNw3u3CNVHyd6mRrh3cvXt1w4gbw9OzK9DNlCyysiiy00LbNtJEys
STRIPE_SECRET_KEY=sk_test_51NUo9ED1Hb754F0UR06uAmXw6pF0OdmLkpMhmKDua3gZGihzInVQQJqxWlMldv0NSvWgVPF23TagN7IyvVcbd8rg00zBS4BouD
STRIPE_WEBHOOK_SECRET=whsec_bd49fd71cfdeaf288782d55f587be5a1e42248f9b324fc285d649c7a813d520f