@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

/* Add this to your CSS */
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: scrollText 10s linear infinite;
}
